@page "/about"
@inject NavigationManager NavigationManager

<h3>About</h3>

This is ResolutionOnline: an application which tranlates your proof to Isabelle code.


<h4>Changelog</h4>

0.1.2 
 - Fixed the on drop logic on clauses. Colours now get reset when a clause is dropped an invalid place.

0.1.2.1
 - Fixed the colouring of letters in the toast messages.


@code {
}